<ion-header>

  <ion-toolbar>
  
  <ion-title>detalhes-serie</ion-title>
  
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
  <ion-toolbar>
  
  <ion-buttons slot="primary">
  
  <ion-button (click)="clickedSearch()">
  
  <ion-icon slot="icon-only" name="search"></ion-icon>
  
  </ion-button>
  
  </ion-buttons>
  
  <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
  
  </ion-toolbar>
  
  <ion-toolbar>
  
  <ion-segment value="all">
  
  <ion-segment-button value="all">
  
  All
  
  </ion-segment-button>
  
  <ion-segment-button value="favorites">
  
  Favorites
  
  </ion-segment-button>
  
  </ion-segment>
  
  </ion-toolbar>
  
  <ion-toolbar color="dark">
  
  <ion-buttons slot="secondary">
  
  <ion-button>
  
  <ion-icon slot="icon-only" name="person-circle"></ion-icon>
  
  </ion-button>
  
  <ion-button>
  
  <ion-icon slot="icon-only" name="search"></ion-icon>
  
  </ion-button>
  
  </ion-buttons>
  
  <ion-buttons slot="primary">
  
  <ion-button color="danger">
  
  <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
  
  </ion-button>
  
  </ion-buttons>
  
  <ion-title>Animes APP</ion-title>
  
  </ion-toolbar>
  
  </ion-content>