<ion-header [translucent]="true">

  <ion-toolbar>
  
  <ion-title>
  
  {{ titulo }}
  
  </ion-title>
  
  </ion-toolbar>
  
  </ion-header>
  
  <ion-content>
  
  <ion-toolbar>
  
  <ion-buttons slot="primary">
  
  <ion-button (click)="clickedSearch()">
  
  <ion-icon slot="icon-only" name="search"></ion-icon>
  
  </ion-button>
  
  </ion-buttons>
  
  <ion-searchbar placeholder="Search"></ion-searchbar>
  
  </ion-toolbar>
  
  <ion-toolbar>
  
  <ion-segment value="all">
  
  <ion-segment-button value="all">
  
  Tudo
  
  </ion-segment-button>
  
  <ion-segment-button value="favorites">
  
  Seus favoritos
  
  </ion-segment-button>
  
  </ion-segment>
  
  </ion-toolbar>
  
  <ion-content [fullscreen]="true">
  
  <ion-chip color="secondary">
  
  <ion-label color="purple">Romance</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="blue">Terror</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="green">Drama</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="red">Psicológico</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="yellow">Comédia</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="yellow">Animação</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="yellow">Ação</ion-label>
  
  </ion-chip>
  
  <ion-chip color="secondary">
  
  <ion-label color="yellow">Ficção</ion-label>
  
  </ion-chip>
  
  <ion-card *ngFor="let serie of serie">
  
  <ion-card-header>
  
  <ion-card-title>
  
  {{ serie.titulo }}
  
  </ion-card-title>
  
  <ion-card-subtitle>
  
  {{ serie.subtitulo }}<br>
  
  <ion-icon name="star-outline"></ion-icon>Adicionar aos favoritos
  
  </ion-card-subtitle>
  
  </ion-card-header>
  
  <ion-card-content>
  
  <div>
  
  <ion-img [src]="serie.capa"></ion-img>
  
  <br>
  
  </div>
  
  {{ serie.texto }}
  
  <ion-toolbar>
  
  <ion-buttons collapse="true">
  
  <ion-button>
  
  <ion-icon slot="icon-only" name="play"></ion-icon> 
  
  </ion-button>Assista
  
  </ion-buttons>
  
  </ion-toolbar>
  
  </ion-card-content>
  
  </ion-card>
  
  </ion-content>